.answers
  .answer{ 'ng-repeat' => 'answer in question.answers | orderBy:"order"' }
    %h4 Answer {{answer.order + 1}}

    .field
      %input{ 'ng-model' => 'answer.text' }

  .actions
    %button{ 'ng-click' => 'addAnswer(question.answers)' } +
    %button{ 'ng-click' => 'removeAnswer(question.answers)' } -
