.answers
  .answer{ 'ng-repeat' => 'answer in question.answers | orderBy:"order"' }
    %h4 Answer {{answer.order + 1}}

    .hidden= text_field_tag 'survey[questions][][answers][][order]', '', 'ng-model' => 'answer.order'
    .field= text_area_tag 'survey[questions][][answers][][text]', '', 'ng-model' => 'answer.text'

    .actions
      .add{ 'ng-click' => 'addAnswer(question.answers)' } +
      .remove{ 'ng-click' => 'removeAnswer(question.answers)' } -
