.survey
  background-color: lavender

  .questions
    background-color: lightcyan

    .answers
      background-color: lightblue

  .actions
    margin: 0 0.5em

    .add, .remove
      display: inline-block
      cursor: pointer
      font-size: 1.2em
      margin: 0.2em 0
      padding: 0 1em
      white-space: normal
      background-color: lightsteelblue
