%header{ role: :banner }
  = link_to root_path do
    = image_tag 'UJ_logo.png', height: 200, alt: 'Jagiellonian University Medical College, Krakow, Poland'
  = link_to root_path do
    = image_tag 'UKSH_logo.png', height: 200, alt: 'Universitatsklinikum Schleswig-Holstein, Campus Lubeck, Germany'
